{% extends 'base.html'%}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3 style="text-align: center;">Resultados</h3><br>
            <p>
                Teniendo en cuenta lo ocupación de los padres se presenta en una escala de 0 a 100
                la probabilidad de tener suficiente satisfacción en la vida academica, Tu probabilidad
                es de:
            <h4 style="color: rgb(218, 196, 0);">{{prediccion}}% </h4>
            <br>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h4 style="text-align: center;">Información de la Red neuronal:</h4>
            Puntaje de la red neuronal: <span style="color: rgb(218, 196, 0);">{{puntaje}}%</span><br>
            Tamaño de la muestra: <span style="color: rgb(218, 196, 0);">{{corr.iloc[0]['n']}}</span><br>
            Correlación de los datos: <span style="color: rgb(218, 196, 0);">{{corr.iloc[0]['r']}}</span><br>
            Porcentaje de confianza: <span style="color: rgb(218, 196, 0);">{{corr.iloc[0]['CI95%']}}</span><br>
            p-val: <span style="color: rgb(218, 196, 0);">{{corr.iloc[0]['p-val']}}</span><br>
            BF10: <span style="color: rgb(218, 196, 0);">{{corr.iloc[0]['BF10']}}</span><br>
            power: <span style="color: rgb(218, 196, 0);">{{corr.iloc[0]['power']}}</span><br>
        </div>
    </div>
</div>
{% endblock %}